.finalBoite{
  text-align: center;
  height: 300px;
  margin-top: 10px;
  background-image: url("https://www.le-beau-site-auvergne.com/uploads/6/0/8/8/60881221/403639812_orig.png");
}

.finalcentre{
  text-align: center;
  
}

.finalblock{
  display: inline-block;
}