#final-page{
	height: 300px;
	background: url('img/background.jpg') center no-repeat;
	background-size: 100%;
	background-color: #DE0000;
}

.centrer-final{
	display: flex;
	justify-content: center;
}

.marge_droite-final {
	margin-right: 10px;
}

.d-block {
	display: bock;

}

.rouge{
	font-weight: bold;
	font-size: 18px;
	color: #DE0000;
	text-shadow: 1px 1px #000000;
}

button {
	height: 25px;
}