
#home-page {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  .gameTitle {
    .title {
      font-size: 42px;
    }
  }

  .vertical-center {
    display: table-cell;
    vertical-align: middle;
  }

  .centralDiv {
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    width: 740px;
    padding: 60px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }

}

#conteneur {
	display: flex;
	flex-direction: row;
	height: 752px;
	justify-content: space-around;
}


.items {
	flex-grow: 1;
}
.img_film {
  height : 250px;
}