#exo03-page {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#detailFilm, #listeFilmes{
	background: tomato;
	padding: 5px;
	width: 49%;
	//height: 500px;
	margin-top: 10px;

	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}
#film{
	padding: 0;
	li{
		padding: 0;
		list-style: none;
		+ li{
			margin-top: 20px;
		}
		img{
			border: 10px tomato solid;
		}
	}
}

.superClass{
	border: 10px pink solid !important;
}
