
   
#container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.buttonClick {
    order: 1;
}
.inputText {
    order: 2;
    
}
.labelSearch {
    order: 3;
}